# ===========================================================
# CONFIGURACION DE RED TAILSCALE DEL CLUSTER
# ===========================================================
# Cada companero debe instalar Tailscale y anotar su IP (100.x.y.z)
# Llenen este archivo de manera colaborativa y asegurense de que
# los 5 computadores tengan este MISMO archivo copiado como '.env'
# en la raiz del proyecto antes de levantar los contenedores.

# IPs de Tailscale de cada computadora
TAILSCALE_IP_1=100.x.x.1
TAILSCALE_IP_2=100.x.x.2
TAILSCALE_IP_3=100.x.x.3
TAILSCALE_IP_4=100.x.x.4
TAILSCALE_IP_5=100.x.x.5

# Contrasenas Base de Datos
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_PASSWORD=bancopass123
SIDECAR_MYSQL_PASSWORD=sidecarpass123
MYSQL_REPL_PASSWORD=replicapass123
