# ===========================================================
# CONFIGURACION DE RED LOCAL (LAN) DEL CLUSTER
# ===========================================================
# Escriban las IPs locales de las computadoras (ej. 192.168.1.x)
# Llenen este archivo de manera colaborativa y asegurense de que
# los 5 computadores tengan este MISMO archivo copiado como '.env'
# en la raiz del proyecto antes de levantar los contenedores.
#
# MUY IMPORTANTE: ¡Asegurense de que el Firewall de sus maquinas
# permita las conexiones en los puertos 3306, 2379 y 2380!
# Utilicen los scripts en la carpeta 'scripts' para abrir los puertos.

# IPs de red local (Wi-Fi o Ethernet) de cada computadora
LAN_IP_1=192.168.200.222
LAN_IP_2=192.168.204.127
LAN_IP_3=192.168.200.86
LAN_IP_4=192.168.206.34
LAN_IP_5=192.168.1.105

# Contrasenas Base de Datos
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_PASSWORD=bancopass123
SIDECAR_MYSQL_PASSWORD=sidecarpass123
MYSQL_REPL_PASSWORD=replicapass123
